<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<!-- Pagina de inicio de MicroGames Se debe construir completamente, por ahora es zona de pruebas -->


<head th:replace="~{fragments/fr_microgames :: head}"></head>
<header th:replace="~{fragments/fr_microgames ::header}"></header>

<body>
    <div class="sanbox">
        <div th:replace="~{fragments/fr_microgames :: nav-loged}"> </div>


        <div>
   HOME WEB
        </div>

    </div>
</body>


<footer th:replace="~{fragments/fr_microgames ::footer}"></footer>

</html>