<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fr_microgames :: head}"></head>
<header th:replace="~{fragments/fr_microgames :: header}"></header>

<body>
    <div class="sandbox">
        <div class="center" style="padding: 3vh;">
            <div class="panelcenter" style="padding: 3vw;">
                <form th:action="@{/reset-password/verify}" method="post">
                    <h1 class="center">Recuperar Contraseña</h1>

                    <div th:if="${error}" class="alert alert-danger">
                        <span th:text="${error}"></span>
                    </div>

                    <div style="padding-top: 20px; width: 30vw;">
                        <label for="username">Tu usuario:</label>
                        <input class="form-control" type="text" id="username" name="username" minlength="4"
                            maxlength="16" required>
                    </div>

                    <div style="padding-top: 20px; width: 30vw;">
                        <label for="email">Tu email:</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>

                    <div class="center" style="padding-top: 20px;">
                        <button type="submit" class="btn btn-primary w-100">
                            Continuar
                        </button>
                    </div>

                    <div class="center" style="padding-top: 20px;">
                        <a href="/login">Volver a Iniciar Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<footer th:replace="~{fragments/fr_microgames ::footer}"></footer>

</html>